body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 10px;
}
h1, h2 {
  display:block;
  text-align:center;
  margin:0px auto;
}
h1 {
  font-size:2rem;
}
h2 {
  font-size:1.1rem;
  font-weight:normal;
}

ol, ul {
  padding-left:0px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-weight: bold;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}

.square[data-winning-move='true'] {
  background-color: #FFFF00;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  margin-top:20px;
}
.game-info {
  margin-left: 20px;
  text-align:left;
}

[data-currentmove='true'] button {
  font-weight:bold;
}

.game-info .toggleMoveListOrder {
  display:inline-block;
  margin:0px;
  width:100%;
  font-size:.8em;
  line-height:1;
  padding:3px;
}
.game-info .moves {
  margin-top:0px;
  margin-left:20px;
}

.game-info .moves li {
  margin:0px;
  padding:0px;
}

@media (max-width:550px) {
  .square {
    height:calc(15vw - 20px);
    width:calc(15vw - 20px);
    font-size:calc(15vw - 30px);
    line-height:calc(15vw - 20px);
  }
  .game {
    display:block;
    margin:20px auto 0px auto;
    text-align:center;
  }
  .game-board, .game-info {
    display:inline-block;
    width:auto;
    vertical-align:top;
  }
}

@media (min-width:550px) {
  .square {
    font-size: 50px;
    line-height: 60px;
    height: 60px;
    width: 60px;
  }
  .game-board {
    width:200px;
  }
}

@media (min-width:800px) {
  h1 {
    font-size:5vw;
  }
  h2 {
    font-size:3vw;
  }
  .game-info button {
    font-size:2vw;
    line-height:3vw;
  }
  .game-info .toggleMoveListOrder {
    font-size:2vw;
    line-height:3vw;
  }
}

@media (min-width:1000px) {
  .square {
    font-size: 80px;
    line-height: 90px;
    height: 90px;
    width: 90px;
  }
  .game-board {
    width:300px;
  }
}


